/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@font-face {
  font-family: Raleway;
  src: url("file://c:/_projects/indilex/fonts/Raleway-Regular.otf") format("opentype");
  src: url("file://c:/_projects/indilex/fonts/Raleway-Regular.ttf") format("ttf");
}
@font-face {
  font-family: RalewaySemiBold;
  src: url("file://c:/_projects/indilex/fonts/Raleway-SemiBold.otf") format("opentype");
  src: url("file://c:/_projects/indilex/fonts/Raleway-SemiBold.ttf") format("ttf");
}
/* line 5, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 85, ../sass/screen.scss */
h1 {
  color: #144856;
  font-size: 26px;
  margin: 20px 0 20px 0;
}

/* line 91, ../sass/screen.scss */
h6 {
  color: #4fbab3;
  font-size: 24px;
  margin: 20px 0 20px 0;
}

/* line 97, ../sass/screen.scss */
a {
  text-decoration: none;
  color: #4fbbb4;
}

/* line 102, ../sass/screen.scss */
a:hover {
  color: #49bab3;
}

/* line 107, ../sass/screen.scss */
p {
  margin: 20px 0 20px 0;
}

/* apply a natural box layout model to all elements, but allowing components to change */
/* line 112, ../sass/screen.scss */
html {
  box-sizing: border-box;
  background-color: #aaa;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 16px;
}

/* line 119, ../sass/screen.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 123, ../sass/screen.scss */
#site {
  width: 1200px;
  margin: 0 auto 0 auto;
  background-color: #fff;
}

/* line 129, ../sass/screen.scss */
#header {
  height: 160px;
  background-color: #fff;
}

/* line 134, ../sass/screen.scss */
#slider {
  height: 500px;
  background-color: #f6f6f6;
  background-image: url("file://c:/link/indilex/images/yellowlines.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* line 143, ../sass/screen.scss */
#shortcodes {
  min-height: 200px;
}

/* line 157, ../sass/screen.scss */
#main {
  min-height: 500px;
  background-color: #fff;
}

/* line 162, ../sass/screen.scss */
#mainl {
  width: 460px;
  padding-left: 60px;
  margin: 0 10px 0 10px;
}

/* line 168, ../sass/screen.scss */
#mainl ul {
  list-style-type: none;
  width: 300px;
  font-family: "RalewaySemiBold", Arial, sans-serif;
  margin: 20px 0 20px 0;
  border-right: 2px solid #49bab3;
}

/* line 177, ../sass/screen.scss */
#mainl li {
  width: 300px;
  padding-right: 30px;
  height: 40px;
  text-align: right;
  vertical-align: middle;
  color: #144856;
  border-bottom: 2px solid #aaa;
  padding-left: 60px;
}

/* line 189, ../sass/screen.scss */
#mainl li:last-child {
  border-bottom: 0px solid #fff;
}

/* line 193, ../sass/screen.scss */
#mainr {
  width: 700px;
  padding-right: 60px;
  margin: 0 10px 0 10px;
}

/* line 201, ../sass/screen.scss */
#bottom {
  height: 370px;
  background-color: #144856;
}

/* line 208, ../sass/screen.scss */
#btop {
  height: 120px;
  background-color: #f6f6f6;
  background-image: url("file://c:/link/indilex/images/handshake.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 217, ../sass/screen.scss */
#bleft {
  width: 380px;
  padding-left: 80px;
  margin: 0 10px 0 10px;
}

/* line 223, ../sass/screen.scss */
#bmid {
  width: 380px;
  margin: 0 10px 0 10px;
  padding: 0 60px 0 40px;
}

/* line 229, ../sass/screen.scss */
#bright {
  width: 380px;
  margin: 0 10px 0 10px;
  padding-right: 80px;
}

/* line 237, ../sass/screen.scss */
#footer {
  height: 90px;
  background-color: #fff;
  line-height: 90px;
}

/* line 243, ../sass/screen.scss */
#fleft {
  padding-left: 80px;
  width: 620px;
  margin: 0 10px 0 10px;
}

/* line 249, ../sass/screen.scss */
#fright {
  width: 540px;
  padding-right: 80px;
  text-align: right;
  margin: 0 10px 0 10px;
}

/* line 256, ../sass/screen.scss */
#logo {
  width: 540px;
  padding-left: 60px;
  margin: 0 10px 0 10px;
  vertical-align: middle;
  height: 120px;
  line-height: 120px;
}

/* line 265, ../sass/screen.scss */
#img_logo {
  vertical-align: middle;
  display: inline-block;
  height: 44px;
}

/* line 272, ../sass/screen.scss */
#mainmenu {
  width: 620px;
  margin: 0 10px 0 10px;
  vertical-align: middle;
  height: 120px;
  line-height: 120px;
}

/* line 281, ../sass/screen.scss */
#topmenu {
  width: 1200px;
  text-align: right;
  padding: 0 10px 0 10px;
  height: 40px;
  line-height: 40px;
  background-color: #f6f6f6;
  font-size: 14px;
}

/* line 293, ../sass/screen.scss */
.floatl {
  float: left;
}

/* line 297, ../sass/screen.scss */
.more:after {
  content: ' >>';
}

/* line 301, ../sass/screen.scss */
.roundbutton {
  border: 2px solid #4fbbb4;
  border-radius: 4px;
  padding: 10px 30px;
  width: 240px;
  line-height: 40px;
}

/* line 309, ../sass/screen.scss */
.eightcolumn {
  width: 620px;
}
