/* Y7 group 2015 Im Auftrag von Indilex (c) Alle Rechte vorbehalten - ME  */
@font-face { font-family: Raleway; src: url("../fonts/Raleway-Regular.otf") format("opentype"); }
@font-face { font-family: RalewaySemiBold; src: url("../fonts/Raleway-SemiBold.otf") format("opentype"); }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

h1 { color: #144856; font-size: 26px; margin: 40px 0 40px 0; }

h6 { color: #4fbbb4; font-size: 24px; margin: 40px 0 40px 0; }

a { text-decoration: none; color: #4fbbb4; }

a:hover { color: #49bab3; }

p { margin: 0 0 20px 0; }

/* apply a natural box layout model to all elements, but allowing components to change */
html { box-sizing: border-box; background-color: #aaa; background: url("../images/concrete_seamless_darker.png") repeat; font-family: "Raleway", Arial, sans-serif; font-size: 16px; }

*, *:before, *:after { box-sizing: inherit; }

#sitemap { color: #49bab3; }
#sitemap a { display: inline-block; color: white; }

#site { width: 1204px; margin: 0 auto 0 auto; background-color: #fff; box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.333); }

#header { height: 160px; background-color: #fff; }

#slider { height: 500px; background-color: #f6f6f6; background-image: url("../images/yellowlines.jpg"); background-size: cover; background-repeat: no-repeat; background-position: center; }

#titlebar { height: 100px; background-color: #f6f6f6; background-image: url("../images/yellowlines.jpg"); background-size: cover; background-repeat: no-repeat; background-position: center; }
#titlebar div { line-height: 100px; padding-left: 90px; font-size: 24px; font-family: "RalewaySemiBold", Arial, sans-serif; color: white; }

#shortcodes { min-height: 200px; margin: 40px 0; text-align: center; }

#shortcodel { width: 406.66667px; padding-left: 80px; padding-right: 10px; border-right: 2px solid #368b86; margin: 0 0 0 10px; }

#shortcodem { width: 346.66667px; margin: 0 10px 0 10px; }

#shortcoder { width: 406.66667px; padding-right: 80px; padding-left: 10px; border-left: 2px solid #368b86; margin: 0 10px 0 0; }

#main { min-height: 300px; padding: 40px 0; background-color: #f6f6f6; }

#mainl { width: 426.66667px; padding-left: 60px; margin: 0 10px 0 10px; }

#mainl ul { list-style-type: none; width: 346.66667px; font-family: "RalewaySemiBold", Arial, sans-serif; margin: 40px 0 40px 0; border-right: 2px solid #368b86; }

#mainl li a { display: block; width: 324.66667px; padding: 5px 20px 5px 10px; height: 50px; line-height: 20px; text-align: right; vertical-align: 20px; color: #144856; border-bottom: 2px solid #245d59; margin-left: 20px; }

#mainl li a:hover { background-color: #144856; color: #fff !important; }

#mainl li:last-child a { border-bottom: 0px solid #fff; }

#mainr { width: 731.66667px; padding-right: 60px; margin: 0 10px 0 10px; }

#bottom { background-color: #144856; color: white; line-height: 120%; }

#bottom h1 { color: #49bab3; }
#bottom span { word-wrap: break-word; word-break: break-all; }
#bottom span a { color: white; padding: 0 5px; }

#btop { height: 120px; background-color: #f6f6f6; background-image: url("../images/handshake.jpg"); background-position: center; background-size: cover; background-repeat: no-repeat; color: white; padding: 40px 0; background-attachment: fixed; line-height: 150%; }

#btopl { width: 620px; padding-left: 80px; margin: 0 10px 0 10px; font-size: 26px; }

#btopr { width: 540px; padding-right: 80px; margin: 0 10px 0 10px; }

#btop_button { text-align: center; position: relative; left: 220px; margin-right: 190px; top: 12px; }

#btop_button a { color: white; width: 240px; border-radius: 4px; border: 2px solid white; padding: 12px 30px; -webkit-transition: all 0.5s; /* Safari */ transition: all 0.5s; }
#btop_button a:hover { background: rgba(255, 255, 255, 0.5) !important; color: #144856 !important; border-radius: 4px; border: 2px solid #144856; }

#btop_button span { position: relative; top: -2px; }

#bleft { width: 380px; padding-left: 80px; margin: 0 10px 40px 10px; }

#bmid { width: 380px; margin: 0 10px 40px 10px; padding: 0 60px 0 47px; }

#bright { width: 380px; margin: 0 10px 40px 10px; padding-right: 80px; position: relative; }

#cyanbar { line-height: 0px; height: 10px; background-color: #49bab3; width: 100%; }

#footer { height: 90px; background-color: #fff; line-height: 90px; font-size: 14px; font-family: "RalewaySemiBold", Arial, sans-serif; }

#fleft { padding-left: 80px; width: 620px; margin: 0 10px 0 10px; }

#fright { width: 540px; padding-right: 80px; text-align: right; margin: 0 10px 0 10px; }

#logo { width: 300px; padding-left: 80px; margin: 0 10px 0 10px; vertical-align: middle; height: 120px; line-height: 120px; }

#img_logo { vertical-align: middle; display: inline-block; height: 44px; }

#mainmenu { width: 860px; margin: 0 10px 0 10px; vertical-align: middle; height: 120px; line-height: 120px; text-align: right; padding-right: 80px; }

#topmenu { width: 1200px; text-align: right; padding: 0 90px 0 10px; height: 40px; line-height: 40px; background-color: #f6f6f6; font-size: 14px; font-family: "Raleway", Arial, sans-serif; }

#topmenu span { color: #49bab3; margin: 0 5px 0 20px; }

#mainr a { border: 2px solid #4fbbb4; border-radius: 4px; padding: 10px 30px; width: 240px; line-height: 40px; -webkit-transition: all 0.5s; /* Safari */ transition: all 0.5s; }
#mainr a:hover { background-color: #4fbbb4; color: #f6f6f6; }
#mainr img { width: 651.66667px; position: relative; right: 7px; padding: 0px !important; margin: 0px !important; }

#shortcodes a { border: 2px solid #4fbbb4; border-radius: 4px; padding: 10px 30px; width: 240px; line-height: 40px; -webkit-transition: all 0.5s; /* Safari */ transition: all 0.5s; }
#shortcodes a:hover { background: rgba(79, 187, 180, 0.9); color: #f6f6f6; }

#scrollup { position: absolute; top: 228px; left: 258px; }

#scrollup a { opacity: 0.5; -webkit-transition: all 0.5s; /* Safari */ transition: all 0.5s; }
#scrollup a:hover { opacity: 1.0; }

.floatl { float: left; }

.more:after { content: ' >>'; }

.roundbutton { border: 2px solid #4fbbb4; border-radius: 4px; padding: 10px 30px; width: 240px; line-height: 40px; }

.roundbutton:hover { background: rgba(79, 187, 180, 0.75); color: #f6f6f6; }

.clearfix:after { visibility: hidden; display: block; content: ""; clear: both; height: 0; }

.cyan { color: #49bab3; }

.opacity50 { opacity: 0.5; }

#mainmenu ul { list-style-type: none; }
#mainmenu ul li { display: inline; border-left: 2px solid #49bab3; padding: 0 30px; position: relative; left: 30px; }
#mainmenu ul li:first-child { border-left: 0px; padding-left: 0px; }
#mainmenu ul li a { color: black; font-size: 1.05em; }
#mainmenu ul li a:hover { color: #49bab3; }

.flexslider strong { font-size: 36px; font-family: "RalewaySemiBold", Arial, sans-serif; text-shadow: 4px 4px 5px #000; }
.flexslider span { font-size: 24px; font-family: "RalewaySemiBold", Arial, sans-serif; text-shadow: 2px 2px 3px #000; }
.flexslider p { position: relative; top: -400px; padding: 0 90px; color: white; }
