/**
 * --------------------------------
 * (c) Y7 Group e.K. Darmstadt 2015
 * -------------------------------- 
 */
@import "y7/grid";
@import "y7/fonts";
@import "y7/variables";
@import "y7/mediaqueries";


@import "y7/htmlheading";

@import "y7/layout";
@import "y7/forms";
@import "y7/menus";
@import "y7/classes";

@font-face {
font-family: Raleway;
src: url('../fonts/Raleway-Regular.otf');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: Raleway;
src: url('../fonts/Raleway-SemiBold.otf');
font-weight: bold;
font-style: normal;
}

@font-face {
font-family: RalewaySemiBold;
src: url('../fonts/Raleway-SemiBold.otf') format("opentype");
}


// Formatting of the Sitemap 
#sitemap, #bmid {
   color: $cyan;
  a {
   color: white;    
  }
}

#mainr p.bodytext  ul {
  //list-style-type: circle !important;
  padding: 10px;
  background: #eee;
  // border: 1px #ccc solid;
}

#mainr ol {
  padding: 10px;
  background: #eee;
  // border: 1px #ccc solid;
}

#mainr ol li {
  list-style-type: decimal;
  position: relative;
  left: 20px;
  line-height: 20px;
}

#mainr .csc-textpic ul li {
  position: relative;
  left: 20px;
  line-height: 20px;
  // list-style-type: circle !important;  
}

#mainr .csc-textpic ul li:before {
  content: '\f0c8'; /* FontAwesome char code inside the '' */
  font-family: "FontAwesome"; /* FontAwesome or whatever */
  display: inline-block;
  color: $cyan;
  font-size: 12px;
  position:relative;
  bottom: 1px;
  width: 1.5em; /* same as padding-left set on li */
  margin-left: -1.5em; /* same as padding-left set on li */
}​

#bmid a {
  display: inline-block;
}

.zert {
  margin: 5px 0 0 0 ;
  color: white;
  font-size: 16px !important; 
}

.follow {
  background-color: white !important;
  
}

.ui-tabs-panel {
  // background: white !important;
  
}
// Compass related
@import "compass/reset";

/**
 *   GENERAL LAYOUT
 */
html {
  box-sizing: border-box;
  background-color: $background;
  // background: url('../images/concrete_seamless_darker.png') repeat;
  font-family: $defaultfont;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}


/**
 *   HEADINGS AND STYLES
 */


h1 {
  color: $bottombg;
  font-family: $defaultfont;
  @include breakpoint(desktop) {
     font-size: 26px;
   }
   @include breakpoint(tablet) {
     font-size: 22px ;
   }
   @include breakpoint(desktoptablet){
     margin: ($margintopbottom*0.75) 0 ($margintopbottom*0.75) 0;
   } 
   
    @include breakpoint(phone) {
       font-size: 20px;
       margin: ($margintopbottom/2) 0 ;
    }
}

#mainr {
  h1 {
    padding-top: 8px; // Fix 
  }
}

h2 {
  color: $bottombg;
  font-family: $defaultfont;
  @include breakpoint(desktop) {
     font-size: 24px;
   }
   @include breakpoint(tablet) {
     font-size: 20px ;
   }
   @include breakpoint(desktoptablet){
     margin: ($margintopbottom/2) 0 ($margintopbottom/2) 0;
   } 
   
    @include breakpoint(phone) {
       font-size: 18px;
       margin: ($margintopbottom/4) 0 ;
    }
}

// h6 {
  // color: $cyanlight;
  // font-family: $defaultfont;
  // font-size: 24px;
  // margin: $margintopbottom 0 $margintopbottom 0;
// }

a {
  text-decoration: none;
  color: $cyanlight;
}

a:hover {
  color: $cyan;
}

p {
   @include breakpoint(desktoptablet) {
     margin: 0 0 20px 0;
   } 
   
    @include breakpoint(phone)  {
      margin: 0 0 10px 0;
    }
  
  font-family: $defaultfont;
}

b {
  font-family: $defaultbold;
}

/*
 * OTHER FIXES AND STUFF
 */

.hidemenu {
  display: none;
}

.specialmargin {
  
   @include breakpoint(desktop) {
      padding-left: $sce_colwrap1 ;
  width: auto !important;
   }
   
     @include breakpoint(tablet) {
        padding-left: 0px ;
 
     }
 
}
/*
 * VERTTICAL TABS
 */

  .ui-tabs-vertical { width: auto; }
  .ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: auto; }
  .ui-tabs-vertical .ui-tabs-nav li { 
    clear: left; width: auto;
     // border-bottom-width: 1px !important;
// border-right-width: 0 !important; 
margin: 0 -1px .2em 0; }
  .ui-tabs-vertical .ui-tabs-nav li a { display:block; }
  .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; 
  // border-right-width: 1px; 
  }
  .ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}