/**
 * --------------------------------
 * (c) Y7 Group e.K. Darmstadt 2015
 * -------------------------------- 
 */
@import "y7/grid";
@import "y7/variables";
@import "y7/mediaqueries";

@import "y7/fonts";
@import "y7/htmlheading";

@import "y7/layout";
@import "y7/forms";
@import "y7/menus";
@import "y7/classes";



// Compass related
@import "compass/reset";

/**
 *   GENERAL LAYOUT
 */
html {
  box-sizing: border-box;
  background-color: $background;
  background: url('../images/concrete_seamless_darker.png') repeat;
  font-family: $defaultfont;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}


/**
 *   HEADINGS AND STYLES
 */


h1 {
  color: $bottombg;
  font-family: $defaultfont;
  @include breakpoint(desktop) {
     font-size: 26px;
   }
   @include breakpoint(tablet) {
     font-size: 24px ;
   }
   @include breakpoint(desktoptablet){
     margin: $margintopbottom 0 $margintopbottom 0;
   } 
   
    @include breakpoint(phone) {
       font-size: 20px;
       margin: ($margintopbottom/2) 0 ;
    }
}

// h6 {
  // color: $cyanlight;
  // font-family: $defaultfont;
  // font-size: 24px;
  // margin: $margintopbottom 0 $margintopbottom 0;
// }

a {
  text-decoration: none;
  color: $cyanlight;
}

a:hover {
  color: $cyan;
}

p {
   @include breakpoint(desktoptablet) {
     margin: 0 0 20px 0;
   } 
   
    @include breakpoint(phone)  {
      margin: 0 0 10px 0;
    }
  
  font-family: $defaultfont;
}


