
/**
 *   SCROLLUP BUTTON
 */


#scrollup {
  position: relative ;
  float:right;
   @include breakpoint(desktop) {
      // top: 220px + (2 * $margintopbottom) - (1.5 * 48px); // containerheight * 1.5
      // left: 258px; // found out by trying  
      bottom: 20px;
      right: $sce_colwrap1 + 15px;
   }
   
      @include breakpoint(tablet) {
      // top: 250px ; // containerheight * 1.5
      // left: 177px; // found out by trying  
      bottom: 20px;
      right: 20px;
   }
   
    @include breakpoint(phone) {
      // top: 95px ; // containerheight * 1.5
      // left: 20px; // found out by trying  
      bottom: 20px;
      right: 20px;
    }
 
}

#scrollup {
  a {
    opacity: 0.5;
    -webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
  }
  
  a:hover {
    opacity: 1.0;
  }
}
/**
 *   FLEXSLIDER
 */

.flex-viewport {
  position: relative;
   @include breakpoint(desktop) {
     height: 500px !important;
   }
   
    @include breakpoint(tablet) {
      height: 334px !important;
    }
  
}

.flex-control-nav {
   @include breakpoint(tablet) {
     // top: 400px - 50px;
   }
}


.flex-control-nav {
   
     position: relative;
     bottom: 20px !important;
   
  
}

.flexslider { 
  
  strong {
    display: block;
     z-index: 500 !important;
     line-height: 1.6em;
    white-space: wrap;
     @include breakpoint(desktop) {
       font-size: 36px;
     }
     @include breakpoint(tablet) {
       font-size: 26px;
       }
      @include breakpoint(phone) {
       width: 90vw;
       font-size: 20px;
       }
    
    font-family: $defaultbold;
    text-shadow: 4px 4px 5px #000;
  }
  span {
    z-index: 500 !important;
    display: block;
    white-space: wrap;
    line-height: 1.2em;
     @include breakpoint(desktop) {
       font-size: 24px;
        }
     
      @include breakpoint(tablet) {
        
        font-size: 20px;
      }
      
      @include breakpoint(phone) {
        //padding: 0 20px 0 0;
        width: 90vw;
        height: 50px;
        font-size: 16px;
        
      }
    
    font-family: $defaultbold;
    text-shadow: 2px 2px 3px #000;
    
  }

  p {
    position: relative;
    z-index: 500 !important;
    // white-space: pre;
     @include breakpoint(desktop) {
        top: -400px;
        padding: 0 ($sce_colspan1 + 30px);
     }
     
      @include breakpoint(tablet) {
         top: -270px;
         padding: 0 $tabletmargin;
      } 
      
      @include breakpoint(phone) {
        position: absolute !important;
         top: 20px;
         padding: 0 $tabletmargin;
      } 
   
    
    color: white;
  }

}

 @include breakpoint(phone) {
   .flex-direction-nav li a {
     
     z-index: 1 !important;
     top: 130px !important;
     font-size: 14px;
   }
   
  /* .flex-control-nav li {
     z-index: 1 !important;
   }*/
 }

  @include breakpoint(smaller) {
   .flex-direction-nav a {
     opacity: 0 !important;
   }
   
   .flex-control-nav a {
     opacity: 0 !important;
   }
  } 


