/**
 *   LAYOUT
 */

#site {
  @include breakpoint(desktop) {
    width: $sce_colwrap15 + 4px;
    margin: 0 auto 0 auto;
  }
  
  @include breakpoint(tablet) {
    width: $sce_colwrap10;
    margin: 0 auto 0 auto;
  }
  
   @include breakpoint(phone) {
     width: 100%;
   }
 
  background-color: $foreground;
  //border-position: outside;
  //border-left: 2px solid #aaa;
  //border-right: 2px solid #aaa;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.333);
}

/**
 *   HEADER LAYOUT
 */

#header {
   @include breakpoint(desktop) {
      height: $headerheight;
   }
 @include breakpoint(tablet) {
   height: $headerheight * 0.8;
 } 
 
  @include breakpoint(phone) {
    height: ($headerheight - $topmenuheight) *0.8;
  }
  background-color: $foreground;
}


// Header Elemente
#logo {
  @include breakpoint(desktop) {
     padding-left: $sce_colspan1 + 20px;
    width: $sce_colspan4;
    line-height: $logo_menu_height;
    height: $logo_menu_height;
  }
  @include breakpoint(tablet) {
    padding-left: $tabletmargin;
    width: $sce_colspan3;
    line-height: $logo_menu_height * 0.8;
    height: $logo_menu_height * 0.8;
  }
  
   @include breakpoint(phone) {
     padding-left: $tabletmargin;
     line-height: $logo_menu_height * 0.8;
    height: $logo_menu_height * 0.8;
   }
  
 
  margin: 0 $sce_gap 0 $sce_gap;
  vertical-align: middle;

}

#img_logo {
 // margin: 0;
 vertical-align: middle;
  display: inline-block;
   @include breakpoint(desktop) {
     height: 44px;
    }
     @include breakpoint(tablet) {
        height: 34px;
     }
     @include breakpoint(phone) {
        height: 34px;
     }

}

#mainmenu {
   @include breakpoint(desktop) {
     width: $sce_colspan11;
      padding-right: $sce_colwrap1;
      line-height: $logo_menu_height;
      height: $logo_menu_height;
      margin: 0 $sce_gap 0 $sce_gap;
   }
    @include breakpoint(tablet) 
   {
     width: $sce_colspan7;
     font-size: 0.9em;
     line-height: $logo_menu_height * 0.8;
      height: $logo_menu_height *0.8;
      margin: 0 $sce_gap 0 $sce_gap;
   }
   
    @include breakpoint(phone) {
      width: 100%;
    }
  
  
  vertical-align: middle;
  
  
  text-align: right;
 
}


#topmenu {
  @include breakpoint(desktop) {
    width: $sce_colwrap15;
    height: $topmenuheight;
      line-height: $topmenuheight;
       font-size: 14px;
    padding: 0 ($sce_colspan1 + 30px) 0 $sce_gap;
  }
  @include breakpoint(tablet) {
    width: $sce_colwrap10;
    height: $topmenuheight * 0.8;
      line-height: $topmenuheight *0.8;
       font-size: 12px;
    padding: 0 $tabletmargin 0 0;
  }
  
   @include breakpoint(phone) {
     display: none;
   }
  text-align: right;

  background-color: $lightgrey;
 
  font-family: $defaultfont;
}

#topmenu span {
  color: $cyan;
  margin: 0 5px 0 20px;
}

/** 
 *   SLIDER LAYOUT
 */

#slider {
   @include breakpoint(desktop) {
     // height: 500px;
   }
    @include breakpoint(tablet) {
     //  height: 400px;
    }
    
    @include breakpoint(tablet) {
      height: 400px;
    }
 
  background-color: $lightgrey;
  background-image: url('../images/yellowlines.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.flex-control-nav {
   @include breakpoint(tablet) {
     top: 400px - 50px;
   }
}

/**
 *   TITLE BAR
 */

#titlebar {
  height: 100px;
  white-space: no-wrap;
  background-color: $lightgrey;
  background-image: url('../images/yellowlines.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  div {
    line-height: 100px;
    padding-left: $sce_colwrap1 +10px;
    font-size: 24px;
    font-family: $defaultbold;
    color: white;
  }
}

/** 
 *   SHORTCODE LAYOUT
 */

#shortcodes {
  min-height: 200px;
   @include breakpoint(desktop) {
      margin: $margintopbottom 0;
   }
   
    @include breakpoint(tablet) {
      h1 {
        font-size: 22px;
      }
      
      p {
        min-height: 75px;
      }
    }
    

   
 
  text-align: center;
  
    a {
    border: 2px solid $cyanlight;
    border-radius: 4px;
    padding: 10px 30px;
    width: 240px;
    line-height: 40px; 
     -webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
  }

  a:hover {
    background: rgba(79,187,180,0.9);
    color: $lightgrey;
  }
}

#shortcodel {
  
  @include breakpoint(desktop) {
  width: $sce_colspan5 + ($sce_colwrap1 / 3);
  padding-left: $sce_colwrap1;
  padding-right: $sce_gap;
  border-right: 2px solid ($cyan*0.75);
  margin: 0 0 0 $sce_gap;
   }
   
   @include breakpoint(tablet) {
       width: ($sce_colspan10 - ($tabletmargin*4) - 4px) / 3 + 10px;
  // padding-left: $sce_colwrap1;
  // padding-right: $sce_gap;
  border-right: 2px solid ($cyan*0.75);
  margin: 0 0 0 $tabletmargin;
  padding-right: $tabletmargin;
   }
   
   @include breakpoint(phone) {
     width: 100%;
     padding: 0 $tabletmargin;
   } 

}

#shortcodem {
   @include breakpoint(desktop) {
     width: $sce_colspan4 + ($sce_colwrap1 / 3) + 20px;
    margin: 0 $sce_gap 0 $sce_gap;
   }
     @include breakpoint(tablet) {
     width: ($sce_colspan10 - ($tabletmargin*4) - 4px) / 3 ; //+ 20px;
    margin: 0 $tabletmargin ;
   }
   
      @include breakpoint(phone) {
     width: 100%;
     padding: 0 $tabletmargin;
   } 
   

  
}

#shortcoder {
   @include breakpoint(desktop) {
       width: $sce_colspan5 + ($sce_colwrap1 / 3);
  padding-right: $sce_colwrap1;
  padding-left: $sce_gap;
  border-left: 2px solid ($cyan*0.75);
  margin: 0 $sce_gap 0 0;
   }
   
      @include breakpoint(tablet) {
       width: ($sce_colspan10 - ($tabletmargin*4) - 4px) / 3 + 10px;
  // padding: 0 ($sce_colspan5/2);
  padding-left: $tabletmargin;
   border-left: 2px solid ($cyan*0.75);
   margin: 0 $tabletmargin 0 0;
   }
   
      @include breakpoint(phone) {
     width: 100%;
     padding: 0 $tabletmargin;
   } 

}


/** 
 *   MAIN LAYOUT
 */

#main {
  min-height: 300px;
   @include breakpoint(desktop) {
     padding: $margintopbottom 0 ;
   }
  @include breakpoint(tablet) {
     padding: 0 0 ($margintopbottom*0.5) 0 ;
   }
  
  background-color: $lightgrey;
}

#mainl {
   @include breakpoint(desktop) {
     width: $sce_colspan5+ ($sce_colwrap1 / 3) + 20px;
     padding-left: $sce_colspan1;
     margin: 0 $sce_gap 0 $sce_gap;
   }
   
    @include breakpoint(tablet) {
      height: auto;
      width: $sce_colspan10;
      padding-left: $tabletmargin - 8px;
    }
    
    @include breakpoint(phone) {
      height: auto;
      width: 100%;
      padding-left: $tabletmargin - 8px;
      padding-right: $tabletmargin - 8px;
    }
  
  
}

#mainl ul {
  list-style-type: none;
  
   @include breakpoint(desktop) {
     width: $sce_colspan4+ ($sce_colwrap1 / 3) + 20px;
     border-right: 2px solid ($cyan*0.75);
   }
  
  font-family: $defaultbold;
  margin: $margintopbottom 0 $margintopbottom 0; 
  
  
}

#mainl ul ul {
  padding: 0;
  margin: 0;  
}

#mainl li a {
  
   @include breakpoint(desktop) {
         display: block !important;
      width: $sce_colspan4+ ($sce_colwrap1 / 3) - 2px;
      padding: 5px 20px 5px 10px;
      height: 50px;
      line-height: 20px;
       vertical-align: 20px;
         border-bottom: 2px solid ($cyan * 0.5);
      margin-left: 20px;
      -webkit-transition: all 0.5s; //Safari
      transition: all 0.5s;
   }
   
    @include breakpoint(tablet) {
      display: inline-block;
      float: left;
      margin: 0 5px;
      padding: 3px;
       border-bottom: 2px solid ($cyan * 0.5);
    }
    
     @include breakpoint(phone) {
      display: inline-block;
      float: left;
      margin: 0 5px;
      padding: 3px;
       border-bottom: 2px solid ($cyan * 0.5);
     }
     
      @include breakpoint(smaller) {
        display: block !important;
        width: 100% !important;
        padding: 3px $tabletmargin !important;
      }
  
  //line-height: 40px;
  text-align: right;
 
  color: $bottombg;

   
 // padding-left: $sce_colspan1
 

}


#sidecurrent a {
   background-color:($bottombg * 0.8) !important;
   color: #fff !important;
}


#mainl li a:hover {
   background-color: $bottombg;
   color: #fff !important;
    @include breakpoint(tablet) {
      border-bottom: 2px solid ($cyan);
    }
 }

#mainl li:last-child a {
   @include breakpoint(desktop) { border-bottom: 0px solid #fff; }
}

#mainr {
   @include breakpoint(desktop) {
     width: $sce_colspan9 + ($sce_colwrap1 / 3) + 5px;
     padding-right: $sce_colspan1;
     margin: 0 $sce_gap ;
   }
   
    @include breakpoint(tablet) {
      width: $sce_colspan10 -$tabletmargin;
      margin: 0 $tabletmargin;
    }
   @include breakpoint(phone) {
     width: 100%;
     padding: 0 $tabletmargin;
   }
  
  
}
// Content Main Button
#mainr{
  
  a {
    border: 2px solid $cyanlight;
    border-radius: 4px;
    padding: 10px 30px;
    width: 240px;
    line-height: 40px; 
    -webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
  }

  a:hover {
    background-color: $cyanlight;
    color: $lightgrey;
  }
  
  img {
     @include breakpoint(desktop) {
       width: $sce_colspan8 + ($sce_colwrap1 / 3) + 5px;
        right: 7px;
     }
      @include breakpoint(tablet) {
        width: 100%;
      }
    
           position: relative;

   
    padding: 0px !important;
    margin: 0px !important; //TODO Formatierung von Tobi erfragen
  }
}


/**
 *   BOTTOM LAYOUT
 */
#bottom {
  //height: 370px;
  background-color: $bottombg;
 // margin: 0 0 $margintopbottom 0;
  color: white;
  line-height: 120%;
}

#bottom {
  
  h1 {
    color: $cyan;
  }

  
} 

#bmid a {

    display: inline-block;
  
}

#bright a {

    display: inline-block;
  
}
// Bottom Elemente

#btop {
  height: 120px;
  background-color: $lightgrey;
  background-image: url('../images/handshake.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: $margintopbottom 0;
  background-attachment: fixed;
  line-height: 150%;
}

#btopl {
   @include breakpoint(desktop) {
     width: $sce_colspan8;
  padding-left: $sce_colwrap1;
  margin: 0 $sce_gap 0 $sce_gap;
  font-size: 26px;
   }
   
    @include breakpoint(tablet) {
      width: $sce_colspan7;
  //padding-left: $sce_colwrap1;
  margin: 0 0 0 $tabletmargin;
  font-size: 26px * 0.9;
    }
    @include breakpoint(phone) {
     width: 100%;
     padding: 0 $tabletmargin;
   }
}

#btopr {
   @include breakpoint(desktop) {
     width: $sce_colspan7;
  padding-right: $sce_colwrap1;
  margin: 0 $sce_gap 0 $sce_gap;
   }
    @include breakpoint(tablet) {
       width: $sce_colspan3;
       text-align: right;
  //padding-right: $sce_colwrap1;
  margin: 0 $tabletmargin 0 0;
    } 
     @include breakpoint(phone) {
     width: 100%;
     padding: 0 $tabletmargin;
   }
  
}

#btop_button {
  
 // width: 240px;
 position: relative;
  text-align: center;
  @include breakpoint(desktop) {
     
  
  left: $sce_colspan6 - 240px;
   margin-right: $sce_colwrap1 + 110px;
   top: 12px;
  }
  
   @include breakpoint(tablet) {
    // left: $sce_colspan3 - 240px;
     top: 12px;
   }

}

#btop_button {
  a {

    color: white;
    width: 240px;  
    border-radius: 4px;
    border: 2px solid white;
    padding: 12px 30px;
    -webkit-transition: all 0.5s; //Safari
    transition: all 0.5s;
   
  }
  a:hover {
    background: rgba(255,255,255,0.5) !important; 
    color: $bottombg !important;
    border-radius: 4px;
    border: 2px solid $bottombg;

  }
}

#btop_button span {
  position: relative;
  top: -2px;
}

#bleft {
   @include breakpoint(desktop) {
     width: $sce_colspan5;
  padding-left: $sce_colwrap1;
  margin: 0 $sce_gap $margintopbottom $sce_gap;
   }
   
   @include breakpoint(tablet) {
     width: ($sce_colspan10 - ($tabletmargin*4))/3 - 10px;  
  // padding-left: $tabletmargin;
  margin: 0 0 $margintopbottom $tabletmargin;
  font-size: 0.9em;
   }
   
    @include breakpoint(phone) {
     width: 100%;
     padding: 0 $tabletmargin;
   }
  
}


#bmid {
   @include breakpoint(desktop) {
      width: $sce_colspan5;
      margin: 0 $sce_gap $margintopbottom $sce_gap;
      padding: 0 0px 0 47px;
   }
   
    @include breakpoint(tablet) {
      width: ($sce_colspan10 - ($tabletmargin*4))/3 + $tabletmargin + 20px;  
      margin: 0 $tabletmargin $margintopbottom $tabletmargin;
      // padding: 0 10px 0 10px;
      font-size: 0.9em;
    }
    
     @include breakpoint(phone) {
     width: 100%;
     padding: 0 $tabletmargin;
   }


}

#bmid div {
  //font-size: 0.95em;
}

#bmid {
  color: $cyan;
  
  a {
    color: white;
  }
}

#bright {
   @include breakpoint(desktop) {
    // height: auto;
    width: $sce_colspan5;  
    margin: 0 $sce_gap $margintopbottom $sce_gap;
    padding-right: $sce_colwrap1;
   }
    @include breakpoint(tablet) {
       width: ($sce_colspan10 - ($tabletmargin*4))/3 - 10px;  
    // margin: 0 $sce_gap $margintopbottom $sce_gap;
    margin: 0 $tabletmargin $margintopbottom 0;
    // padding-right: $tabletmargin;
    font-size: 0.9em;
   }
   
    @include breakpoint(phone) {
     width: 100%;
     padding: 0 $tabletmargin;
     // margin-bottom: 80px;
   }
  
  position: relative;
}

#cyanbar {
  line-height: 0px;
  height: 10px;
  background-color: $cyan;
  width: 100%;
}


#sitemap {
  
  color: $cyan;

  a {
    display: inline-block;
    color: white;
  }
}


/**
 *   FOOTER LAYOUT
 */
#footer {
   @include breakpoint(desktop) {
     // background-image 
     height: 90px;
     line-height: 90px;
     font-size: 14px;
   }
   @include breakpoint(tablet) {
     height: 90px * 0.8;line-height: 90px *0.8;
     font-size: 13px;
   }
  background-color: $foreground;
    @include breakpoint(phone) {
       height: 90px * 0.8;line-height: 90px *0.8;
     font-size: 12px;
    }
   
   font-family: $defaultbold;
}

#fleft {
   @include breakpoint(desktop) {
     padding-left: $sce_colwrap1;
  width: $sce_colspan8;
  margin: 0 $sce_gap 0 $sce_gap;
   }
     @include breakpoint(tablet) {
     // padding-left: $sce_colwrap1;
  width: $sce_colspan5;
  margin: 0 0 0 $tabletmargin;
   }
   
    @include breakpoint(phone) {
      width: 50%;
      padding-left: $tabletmargin;
    }
  
   @include breakpoint(smaller) {
     width: 100% !important;
     // padding-left: $tabletmargin;
   } 
}

#fright {
   text-align: right;
 @include breakpoint(desktop) {
     width: $sce_colspan7;
  padding-right: $sce_colwrap1;
 
  margin: 0 $sce_gap 0 $sce_gap;
 }
  
      @include breakpoint(tablet) {
     // padding-left: $sce_colwrap1;
  width: $sce_colspan5;
  margin: 0 $tabletmargin 0 0;
   }
   
    @include breakpoint(phone) {
     
      width: 50%;
      padding-right: $tabletmargin;
    }
    
     @media (max-width: 530px) {
        display: none !important;
        width: 0% !important;
     }
}
