// VARIABLES 

// -  Colours
$background : #aaa;
$foreground : #fff;
$lightgrey : #f6f6f6;
$cyan : #49bab3;
$cyanlight: #4fbbb4;
//$special : #4fbab3;
$bottombg : #144856;

// - Fonts
$defaultfont : "Raleway", Arial, sans-serif;
$defaultbold : "RalewaySemiBold", Arial, sans-serif;

// - Abstände
$margintopbottom : 40px;
$headerheight : 160px;
$topmenuheight : 40px;
$logo_menu_height : $headerheight - $topmenuheight;
